


/* Start:/bitrix/templates/.default/components/bitrix/menu/top-menu/style.css*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url('/bitrix/templates/.default/components/bitrix/menu/top-menu/images/left_menu_bg.gif') top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */



/* Start:/bitrix/templates/nts/components/bitrix/menu/top-bottom/style.css*/
/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url('/bitrix/templates/nts/components/bitrix/menu/top-bottom/images/left_menu_bg.gif') top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link, 
ul.left-menu li a.selected:visited, 
ul.left-menu li a.selected:active, 
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}



/* End */



/* Start:/bitrix/templates/.default/components/bitrix/news.list/news-right/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */



/* Start:/bitrix/components/bitrix/system.pagenavigation/templates/modern/style.css*/
div.modern-page-navigation { 
	padding: 0.5em 0;}
div.modern-page-navigation a, 
span.modern-page-current, 
span.modern-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous { 
	border-right-width: 1px; 
	border-right-style: solid; 
	border-left: none; }
div.modern-page-navigation a.modern-page-first, 
div.modern-page-navigation span.modern-page-first { 
	border-left: none; 
	padding-left: 0.5em; }
span.modern-page-current { 
	font-weight: bold; }
div.modern-page-navigation a, 
span.modern-page-current, 
div.modern-page-navigation a.modern-page-previous, 
span.modern-page-dots { 
	border-color: #cdcdcd; }
/* End */



/* Start:/bitrix/templates/nts/template_styles.css*/
body {
    text-align: inherit;
    font-family: Tahoma, "Lucida Sans Unicode", "Lucida Grande",
                 Verdana, Helvetica, "DejaVu Sans", arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    background-color: #fff;
}

/* Оформление ссылок по умолчанию */

a {
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

a:link, a:visited {
    color: #000;
    font-weight: normal;
    text-decoration: underline;
}

a:hover, a:active {
    color: #fecc00;
    font-weight: normal;
    text-decoration: underline;
}


/* Оформление заголовков по умолчанию */

h1, h2, h3, h4, h5, h6, .componentheading, .contentheading {
    color: #000;
    font-weight: normal;
    padding-bottom: 12px;    
}

h1 {
    font-size: 24px;
    line-height: 24px;
}

h2, .componentheading {
    font-size: 26px;
    line-height: 26px;
}

h3, .contentheading {
    font-size: 24px;
    line-height: 24px;
}

h4 {
    font-size: 16px;
    line-height: 16px;
}

h5 {
    font-size: 14px;
    line-height: 14px;
}

h6 {
    font-size: 10px;
    line-height: 10px;
}


/* Оформление списков по умолчанию */

ul, ol {
    margin-left: 20px;
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul a, ol a {
	text-decoration: none;
}


/* Оформление элементов ввода по умолчанию */

input, button, textarea {
    font-family: Tahoma, "Lucida Sans Unicode", "Lucida Grande",
                 Verdana, Helvetica, "DejaVu Sans", arial, sans-serif;
    outline: 0;
}

textarea {
    width: 350px;
    height: 140px;
}


/* Оформление системных и отладочных сообщений */

dl#system-message {
    font-size: 18px;
    padding-bottom: 10px;
}

dl#system-message dd.message {
	padding-bottom: 20px;
}

dl#system-message dt.message { display: none; }
dl#system-message dd.message ul {
    margin: 0;
    list-style-type: none;
}

.clear {clear: both; overflow: hidden;}

/* Верстка */

div.container {
    width: 1174px;
    left: 0;
    top: 0;
    margin: auto;
    padding: 0;
    position: relative;
    overflow: visible;
    float: none;
    clear: both;
}


/* Шапка сайта */

div.header {
    width: 100%;
    height: 165px;
    position: relative;
    margin-bottom: 10px;
}

/* Ссылка на главную страницу на логотипе */

a.logo {
    width: 151px;
    height: 138px;
    top: 20px;
    left: 100px;
    display: block;
    position: absolute;
    background: url('/bitrix/templates/nts/img/logo.png') 0 0 no-repeat;
}

/* Главное меню */

div.menu {
    width: 455px;
    height: 20px;
    float: right;
    margin: 30px 45px 30px 0;
}


/* Простое главное меню */

div.menu a.mainlevel, div.menu a.mainlevel:link, div.menu a.mainlevel:visited {
    width: auto;
    height: 20px;
    line-height: 20px;
    display: block;
    float: left;
    color: #000;
    font-size: 15px;
    padding: 0 3px;
    text-decoration: none;
    text-align: center;
    border-left: 1px solid;
}
div.menu a:first-child {
    border: none !important;}

div.menu a.mainlevel:hover, div.menu a.mainlevel:active, div.menu a#active_menu {
    border-bottom: 1px solid #fecc00;
}

div.menu span.mainlevel {
    font-size: 15px;
    padding: 0 3px;
    text-align: center;
    display: block;
    float: left;
}

.moduletable_phone {
    float: right;
    margin-right: 75px;
    font-size: 13px;
    text-align: right;
}
.moduletable_phone span {
    font-size: 21px;
    font-weight: bold;
    color: #ed1c24;
}
.moduletable_phone a {text-decoration: none;}
.moduletable_phone a:hover, .moduletable_phone a:active {text-decoration: underline;}

div.top_index {
    width: 985px;
    height: 440px;
    position: relative;
    margin: 0 auto 20px;
}

div.top_index .moduletable_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

div.top_index div.moduletable_left {
    width: 225px;
    float: left;
    overflow: hidden;
    background: url('/bitrix/templates/nts/img/fon.png') 0 0 repeat;
    border-right: 1px solid #fecc00;
}

div.top_index div.moduletable_right {
    width: 225px;
    float: right;
    overflow: hidden;
    background: url('/bitrix/templates/nts/img/fon.png') 0 0 repeat;
    border-left: 1px solid #fecc00;
}

div.top_index ul.menu {list-style: none; margin: 0;} 
div.top_index ul.menu li {list-style: none;}
div.top_index ul.menu a {
    display: block;
    width: 160px;
    font-size: 22px;
    line-height: 28px;
    color: #231f20;
    border-bottom: 1px dotted #585756;
    text-decoration: none;
    background: url('/bitrix/templates/nts/img/menu.png') no-repeat;
}

div.top_index div.moduletable_left ul.menu{margin-right: 10px; float: left;}
div.top_index div.moduletable_left ul.menu a {
    text-align: right;
    padding-right: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
    background-position: 100% 50%;
}
div.top_index div.moduletable_right ul.menu{margin-left: 10px; float: right;}
div.top_index div.moduletable_right ul.menu a {
    text-align: left;
    padding-left: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
    background-position: 0 50%;
}

div.top_index ul.menu a:active, div.top_index ul.menu a:hover {
    border-bottom: 1px solid #fecc00;
    background: url('/bitrix/templates/nts/img/menu_a.png') no-repeat;
}

div.top {
    width: 985px;
    height: 225px;
    position: relative;
    margin: 0 auto 20px;
}

div.top div.moduletable_left,
div.top div.moduletable_right {
    width: 100%;
    clear: both;
    height: 100px;
    margin-bottom: 10px;
}
div.top ul.menu {margin: 0;}
div.top ul.menu li {
    width: 170px;
    height: 100px;
    padding: 0px 13px;
    list-style: none;
    vertical-align: bottom;
    display: table-cell;
}

div.top ul.menu li.parent ul {display: none;}

div.top li a {
    width: 150px;
    float: left;
    font-size: 22px;
    line-height: 28px;
    color: #231f20;
    border-bottom: 1px dotted #585756;
    text-decoration: none;
    background: url('/bitrix/templates/nts/img/menu.png') no-repeat;
    text-align: left;
    padding-right: 20px;
    margin-top: 27px;
    background-position: 100% 50%;
}
div.top li.item18 a {margin-top: 55px;}
div.top li.item22 a, div.top li.item23 a {margin-top: 0;}
div.top ul.menu a:active, div.top ul.menu a:hover, div.top ul.menu li.active a {
    border-bottom: 1px solid #fecc00;
    background: url('/bitrix/templates/nts/img/menu_a.png') 100% 50% no-repeat;
}

/* Центральная часть страницы */

div.main {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px dotted #585756;
}

div.main_left {
    width: 762px;
    float: left;
    overflow: hidden;
}

/*div.main_left table.contentpaneopen td.contentheading,*/ div.componentheading_news {
    width: 742px;
    display: block;
    border: 0;
    font-size: 21px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background: #c5c6c6;
}

div.main_left div.componentheading {
    padding: 5px 50px 10px;
    background: #c5c6c6;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 65px;
}


div.main_left table.blog td.contentheading {
    font-size: 14px;
    color: #414042;
    border: 0;
    font-weight: bold;
}
div.main_left table.blog td.article_column div.article {position: relative;}
div.main_left table.blog div.images_s {position: absolute; top: 0; margin: 0; overflow: hidden;}
div.main_left table.blog div.title_s {padding-top: 115px; text-align: center; position: relative; z-index: 100;}
div.main_left table.blog div.title_s table.title_s {text-align: center;}
div.main_left table.blog div.title_s table.title_s a {font-weight: bold; padding: 0 20px;}
div.main_left tr.first img {
    margin: 0 30px 70px 50px;
    border: 1px solid #a4a4a4;
}

div.main_left table.blog div.images_s table.images_s {list-style: none; width: 250px; text-align: center; margin-bottom: 50px;}
div.ramka {
    width: 106px;
    height: 108px;
    margin: 10px auto;
    background: url('/bitrix/templates/nts/img/ramka.png') 0 0 no-repeat;
}
div.ramka img {max-width: 100px; max-height: 90px; margin: 3px; border: 0;}

table.contentpaneopen td.gray_title{
width: 742px;
display: block;
border: 0;
font-size: 21px;
line-height: 30px;
    padding: 5px 50px 10px;
margin-bottom: 10px;
background: #C5C6C6;
}

table.contentpaneopen td.gray_title a {color: #000; text-decoration: none; font-size: 21px; padding-left: 10px;}

div.main_left div.punktir {border-bottom: 1px dotted #585756; margin: 0 0 40px 0; clear: both; font-size: 0;}

div.main_left table.contentpaneopen td {
    font-size: 14px;
    color: #414042;
    border: 0;}

.contentheading {
    padding: 5px 50px 10px;
    background: #c5c6c6;
    color: #000 !important;
    font-size: 24px !important;
}

div.main_left table.contentpaneopen img {
    border: 1px solid #414042;
    margin: 0 30px 60px 50px;
}
div.main_left div.catalog {
    width: 760px;
    overflow: hidden;
    border-left: 1px solid #fecc00;
}

div.main_left div.catalog h3 {
    height: 42px;
    line-height: 42px;
    padding-left: 50px;
    background: url('/bitrix/templates/nts/img/yelow.png') 0 0 repeat-x;
}

div.main_left div.catalog .moduletable, div.main_left div.catalog .moduletable_t {
    overflow: hidden;
    width: 100%;
}

div.main_left div.catalog .moduletable h3 {
    width: 240px;
    height: 19px;
    color: #4d4d4f;
    font-size: 17px;
    line-height: 19px;
    margin-left: 50px;
    font-weight: bold;
    padding: 12px 10px 24px 20px;
    background: url('/bitrix/templates/nts/img/h.png') 0 0 no-repeat;
}

div.main_left div.catalog .moduletable_t h3 {
    width: 234px;
    height: 42px;
    color: #4d4d4f;
    font-size: 17px;
    line-height: 19px;
    margin-left: 50px;
    font-weight: bold;
    padding: 1px 15px 11px 20px;
    background: url('/bitrix/templates/nts/img/h.png') 0 0 no-repeat;
}

div.main_left div.catalog .last ul {border: none !important;}

div.main_left div.catalog ul {
    width: 710px;
    overflow: hidden;
    border-bottom: 1px dotted #585756;
    padding-bottom: 10px;
    margin: 10px 0 20px 50px;
}

div.main_left div.catalog ul li {
    width: 40%;
    margin: 0 41px 5px 30px;
    list-style: none;
    padding: 0;
    float: left;
}

div.main_left div.catalog ul li a {
    font-size: 14px;
    line-height: 18px;
    color: #4d4d4f;
}

div.main_left div.catalog ul li a:hover {
    color: #fecc00;
}

/**/
table.ssilka {
    width: 400px;
    right: 0;
    position: absolute;
    bottom: 0;
}

div.main_left table.ssilka td {border: 0; font-size: 0px; text-align: center;}

table.ssilka td.t1 a {font-size: 12px; padding-top: 25px; background: url('/bitrix/templates/nts/img/ico1.png') 50% 0 no-repeat;}
table.ssilka td.t2 a {font-size: 12px; padding-top: 25px; background: url('/bitrix/templates/nts/img/ico2.png') 50% 0 no-repeat;}
table.ssilka td.t3 a {font-size: 12px; padding-top: 25px; background: url('/bitrix/templates/nts/img/ico3.png') 50% 0 no-repeat;}
/**/

div.main_left table.contentpaneopen p {margin: 0 10px;}

div.main_left div.razdel.componentheading {margin-bottom: 20px;}
td.contentdescription img {border: 1px solid #414042; margin: 0 20px 20px;}

div.main_right {
    width: 395px;
    float: right;
	overflow: hidden;
}

div.main_right div.moduletable_blok1 {
    width: 394px;
    overflow: hidden;
    border-left: 1px solid #e31e24;
    background: #ebecec;
}

div.main_right div.moduletable_blok1 h3 {
    height: 41px;
    padding-left: 30px;
    color: #fff;
    font-size: 22px;
    line-height: 41px;
    font-weight: bold;
    background: url('/bitrix/templates/nts/img/read.png') 0 0 repeat-x;
}

div.main_right div.moduletable_blok1 div, div.main_right div.moduletable_blok1 p {
    padding: 5px 10px 10px 20px;
}

div.main_right div.moduletable_all {
    width: 364px;
    overflow: hidden;
    border-left: 1px solid #ececec;
    padding: 10px 30px 10px 0;
    text-align: right;
    font-size: 16px;
}

div.main_right div.moduletable_all.zakaz {
    width: 364px;
    overflow: hidden;
    border-left: 1px solid #e31e24;
    background: #ebecec;
    padding: 10px 30px 10px 0;
    text-align: right;
    margin-bottom: 20px;
}

div.main_right div.moduletable_all.zakaz a {color: #e31e24;}

div.main_right div.moduletable_blok2, div.main_right div.moduletable_banner, div.main_right div.moduletable {
    width: 394px;
    overflow: hidden;
    border-left: 1px solid #ececec;
}

div.main_right div.moduletable_blok2 h3, div.main_right div.moduletable h3 {
    height: 41px;
    padding-left: 30px;
    color: #000;
    font-size: 22px;
    line-height: 41px;
    background: url('/bitrix/templates/nts/img/gray.png') 0 0 repeat-x;
}

div.main_right div.moduletable_blok2 img, div.main_right div.moduletable_banner img {margin: 10px 0 20px 20px;}

div.main_right div.moduletable .mod_news {
    margin-left: 20px;
}

div.main_right div.moduletable .mod_news_item {overflow: hidden; margin: 10px 0;}

table.contentpaneopen, div.moduletable { clear: both; }

/* Фотогалерея */

div#phocagallery a, div#phocagallery a:link, div#phocagallery a:visited {
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}

div#phocagallery a:hover, div#phocagallery a:active {
    text-decoration: underline;
}

div#phocagallery table tr td {
    padding: 15px;
    vertical-align: middle;
}

div#phocagallery table tr td img {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background: #fecc00;
}

div#phocagallery div.phocagallery-box-file {
    height: auto !important;
    cursor: pointer;
}

div#phocagallery div.phocagallery-box-file div.phocaimgdesc {
    padding-top: 4px;
    line-height: 13px;
}

div#phocagallery div.phocagallery-box-file {
    width: 147px !important;
}

div#phocagallery div.phocagallery-box-file div.phocagallery-box-file-first {
    background: #fff;
}


/* Подвал */

div.footer {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #4d4d4f;
    line-height: 20px;
    text-align: right;
    padding-bottom: 20px;
}

div.moduletable_footer {
    width: 100%;
    margin-top: 30px;
}
div.moduletable_footer table{width: 100%; text-align: left;}
div.moduletable_footer table td {padding: 0 20px; border-left: 1px dotted #4d4d4f; vertical-align: bottom;}
div.moduletable_footer table td:first-child {border: 0;}

.top .moduletable_left {margin-top:-20px;}
.sect_img img {margin: 0 30px 70px 50px;
    border: 1px solid #a4a4a4;}
.bx_catalog_item_container {width: 33%;text-align: center;float: left;}
.sect {display: block; min-height: 260px;}
p.news-item {margin-bottom: 20px;}

.photo-sections-top td {
    padding: 15px;
vertical-align: middle;}
/* End */



/* Start:/bitrix/js/fileman/sticker.css*/
div.bx-sticker{position: absolute;top: 0;left: 0; overflow:hidden; border-width: 1px; border-style: solid;}
div.bx-sticker div.bxst-header{height: 19px;}
div.bx-sticker div.bxst-content{overflow: hidden; cursor: pointer;}
div.bx-sticker div.bxst-footer{height: 24px; overflow:hidden;}
div.bx-sticker .bxst-sprite, .bxst-sprite{background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
body div.bx-sticker-over{border-width: 2px!important;}

/* Shadow*/
div.bxst-shadow{position: absolute;top: 0; left: 0; filter: gray() alpha(opacity=20); opacity: 0.2; background: #000; border: 1px solid #000!important;}

div.bxst-completed {filter: alpha(opacity=80)!important;opacity: 0.8!important;}
div.bxst-completed div.bxst-content-area{/* text-decoration: line-through!important; */ }

/* Controls and buttons*/
div.bx-sticker div.bxst-header div.bxst-check-cont{float: left;margin:0 4px;}
div.bx-sticker div.bxst-header div.bxst-check-cont input{float: left;display: block;}
div.bx-sticker div.bxst-header div.bxst-check-cont label{display:block; float:left; margin:3px 5px 0 0!important; font-size:10px!important;}
div.bx-sticker div.bxst-header div.bxst-type-cont{float: right; margin:3px 4px 0 0; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-but{float: right; margin:4px 4px 0 0;}
div.bx-sticker div.bxst-header div.bxst-but img{width: 12px;height: 12px; cursor: pointer;}
div.bx-sticker div.bxst-header div.bxst-collapse img{background-position: -15px -34px;}
div.bx-sticker div.bxst-header div.bxst-close img{background-position:  -15px -14px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but, div.bx-sticker div.bxst-footer div.bxst-marker-elem-but{float: left; margin: 3px 2px 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but{margin-left: 5px!important;}
div.bx-sticker div.bxst-footer div.bxst-ctrl-txt span{font-size: 10px; text-decoration: underline; cursor: pointer;font-family:Verdana!important;}
div.bx-sticker div.bxst-footer div.bxst-color-but, div.bx-sticker div.bxst-footer div.bxst-add-but{float: left; margin: 4px 0 0 6px;  cursor: pointer;}
div.bx-sticker div.bxst-footer div.bxst-resizer{float: right; margin:12px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -9px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-area-but img.bxst-pressed{background-position:  -9px -120px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img{width: 19px;height: 19px;cursor: pointer; background-position:  -31px -101px;}
div.bx-sticker div.bxst-footer div.bxst-marker-elem-but img.bxst-pressed{background-position:  -31px -120px;}
div.bx-sticker div.bxst-footer div.bxst-resizer img{width: 12px;height: 12px; cursor: se-resize; background-position:  -14px -45px;}
div.bx-sticker div.bxst-id-cont{display:none; float:left; margin:2px 0 0 4px!important; font-size:10px!important; cursor: default!important;}

div.bx-sticker div.bxst-footer div.bxst-info-icon{float: right; margin: 3px 10px 0 0;}
div.bx-sticker div.bxst-footer div.bxst-info-icon img{width: 19px;height: 19px; background-position:  -60px -101px;}

/*type selector*/
div.bx-sticker div.bxst-type-cont div.bxst-type-corn{float: left; width: 3px; height: 12px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important; cursor: pointer!important;}
div.bx-sticker div.bxst-type-cont div.bxst-type-c{height: 12px; float: left; padding: 0 1px;}
div.bx-sticker div.bxst-type-cont div span{font-size: 10px!important; color: #fff!important; line-height:10px!important;  cursor: pointer!important; font-family:Verdana!important;}

/* for personal - green */
div.bx-sticker div.bxst-type-pers div.bxst-type-l{background-position:  -41px -45px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-r{background-position:  -41px -60px;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c{background-color: #4CBC29;}
div.bx-sticker div.bxst-type-pers div.bxst-type-c-publ{display: none;}
/* for public - orange */
div.bx-sticker div.bxst-type-publ div.bxst-type-l{background-position:  -41px -15px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-r{background-position:  -41px -30px;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c{background-color: #EAAB00;}
div.bx-sticker div.bxst-type-publ div.bxst-type-c-pers{display: none;}

/* For LHE editor */
div.bx-sticker div.bxst-content .lhe-button-cont{background: transparent!important;}
div.bx-sticker div.bxst-content .lhe-line-begin, div.bx-sticker div.bxst-content .lhe-line-end{display: none!important;}
/* div.bx-sticker table.bxlhe-frame-table iframe.lha-iframe {margin:-10px 0 0 0 !important;} */

/* READONLY*/
div.bx-sticker-readonly div.bxst-close,
div.bx-sticker-readonly div.bxst-marker-area-but,
div.bx-sticker-readonly div.bxst-marker-elem-but,
div.bx-sticker-readonly div.bxst-color-but,
div.bx-sticker-readonly div.bxst-add-but,
div.bx-sticker-readonly div.bxst-type-cont
{display: none!important;}

div.bx-sticker-readonly div.bxst-content{cursor: default!important;}



/* Color schemes */
/* YELLOW */
div.bxst-yellow{background: #FFFCB3!important; border-color: #E5E2A1!important; border-width: 1px; border-style: solid;}
div.bxst-yellow div.bxst-header{background: #F3E987!important;}
div.bxst-yellow div.bxst-header-over{background: #ECDF71!important;}
div.bxst-yellow div.bxst-content .bxst-header-text{background: #F3E987!important;}
div.bxst-yellow div.bxst-footer{border-top: 1px solid #E5E2A1!important;}
div.bxst-yellow div.bxst-footer div.bxst-ctrl-txt span{color: #B2B07D!important;}
div.bxst-yellow div.bxst-content-area .bxst-title, div.bxst-yellow .bxst-title, div.bxst-yellow div.bxst-check-cont label{color: #7F7E59!important;}
	/* For editor */
div.bxst-yellow div.bxst-content div.bxlhe-frame{ background: #FFFCB3!important;}
div.bxst-yellow .lhe-stat-toolbar-cont { border-color: #FFFCB3 !important } 
div.bxst-yellow div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-yellow div.bxst-lhe-cont td.bxlhe-editor-cell{background: #FFFCB3 !important;}
div.bxst-yellow div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FFFCB3!important;}
div.bxst-yellow div.bxst-content .lhe-button{border:1px solid #FFFCB3;}

/* GREEN */
div.bxst-green {background: #DBFCCD!important; border-color: #C5E2B8!important;border-width: 1px; border-style: solid;}
div.bxst-green div.bxst-header{background: #CCF2BC!important;}
div.bxst-green div.bxst-header-over{background: #C1EAAF!important;}
div.bxst-green div.bxst-content .bxst-header-text{background: #6D7E66!important;}
div.bxst-green div.bxst-content p{padding:0!important; margin: 0!important;}
div.bxst-green div.bxst-footer{border-top: 1px solid #C5E2B8!important;}
div.bxst-green div.bxst-footer div.bxst-ctrl-txt span{color: #99B08F!important;}
div.bxst-green div.bxst-content-area .bxst-title, div.bxst-green .bxst-title, div.bxst-green div.bxst-check-cont label{color: #6D7E66!important;}
	/* For editor */
div.bxst-green div.bxst-content div.bxlhe-frame{ background: #DBFCCD!important;}
div.bxst-green .lhe-stat-toolbar-cont { border-color: #DBFCCD !important } 
div.bxst-green div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-green div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DBFCCD !important;}
div.bxst-green div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DBFCCD!important;}
div.bxst-green div.bxst-content .lhe-button{border:1px solid #DBFCCD;}

/* BLUE */
div.bxst-blue {background: #DCE7F7!important; border-color: #C6CFDE!important;border-width: 1px; border-style: solid;}
div.bxst-blue div.bxst-header{background: #D2DFF3!important;}
div.bxst-blue div.bxst-header-over{background: #CBDAF1!important;}
div.bxst-blue div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-blue div.bxst-footer{border-top: 1px solid #C6CFDE!important;}
div.bxst-blue div.bxst-footer div.bxst-ctrl-txt span{color: #9AA1AC!important;}
div.bxst-blue div.bxst-content-area .bxst-title, div.bxst-blue .bxst-title, div.bxst-blue div.bxst-check-cont label{color: #6E737B!important;}
	/* For editor */
div.bxst-blue div.bxst-content div.bxlhe-frame{background: #DCE7F7!important;}
div.bxst-blue .lhe-stat-toolbar-cont { border-color: #DCE7F7 !important } 
div.bxst-blue div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-blue div.bxst-lhe-cont td.bxlhe-editor-cell {background: #DCE7F7 !important;}
div.bxst-blue div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #DCE7F7!important;}
div.bxst-blue div.bxst-content .lhe-button{border:1px solid #DCE7F7;}

/* RED */
div.bxst-red {background: #FCDFDF!important; border-color: #E2C8C8!important;border-width: 1px; border-style: solid;}
div.bxst-red div.bxst-header{background: #F6D0D0!important;}
div.bxst-red div.bxst-header-over{background: #F3C8C8!important;}
div.bxst-red div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-red div.bxst-footer{border-top: 1px solid #E2C8C8!important;}
div.bxst-red div.bxst-footer div.bxst-ctrl-txt span{color: #B09C9C!important;}
div.bxst-red div.bxst-content-area .bxst-title, div.bxst-red .bxst-title, div.bxst-red div.bxst-check-cont label{color: #7E6F6F!important;}
	/* For editor */
div.bxst-red div.bxst-content div.bxlhe-frame{background: #FCDFDF!important;}
div.bxst-red .lhe-stat-toolbar-cont { border-color: #FCDFDF !important } 
div.bxst-red div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-red div.bxst-lhe-cont td.bxlhe-editor-cell {background: #FCDFDF !important;}
div.bxst-red div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #FCDFDF!important;}
div.bxst-red div.bxst-content .lhe-button{border:1px solid #FCDFDF;}

/* PURPLE */
div.bxst-purple {background: #F6DAF8!important; border-color: #DDC4DF!important;border-width: 1px; border-style: solid;}
div.bxst-purple div.bxst-header{background: #EAC8ED!important;}
div.bxst-purple div.bxst-header-over{background: #E4BEE6!important;}
div.bxst-purple div.bxst-content .bxst-header-text{background: #6E737B!important;}
div.bxst-purple div.bxst-footer{border-top: 1px solid #DDC4DF!important;}
div.bxst-purple div.bxst-footer div.bxst-ctrl-txt span{color: #AC98AD!important;}
div.bxst-purple div.bxst-content-area .bxst-title, div.bxst-purple .bxst-title, div.bxst-purple div.bxst-check-cont label{color: #7B6D7C!important;}
	/* For editor */
div.bxst-purple div.bxst-content div.bxlhe-frame{background: #F6DAF8!important;}
div.bxst-purple .lhe-stat-toolbar-cont { border-color: #F6DAF8 !important } 
div.bxst-purple div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-purple div.bxst-lhe-cont td.bxlhe-editor-cell{background: #F6DAF8 !important;}
div.bxst-purple div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F6DAF8!important;}
div.bxst-purple div.bxst-content .lhe-button{border:1px solid #F6DAF8;}

/* gray */
div.bxst-gray {background: #F5F5F5!important; border-color: #DCDCDC!important;border-width: 1px; border-style: solid;}
div.bxst-gray div.bxst-header{background: #E8E8E8!important;}
div.bxst-gray div.bxst-header-over{background: #DFDFDF!important;}
div.bxst-gray div.bxst-content .bxst-header-text{background: #7A7A7A!important;}
div.bxst-gray div.bxst-footer{border-top: 1px solid #DCDCDC!important;}
div.bxst-gray div.bxst-footer div.bxst-ctrl-txt span{color: #ABABAB!important;}
div.bxst-gray div.bxst-content-area .bxst-title, div.bxst-gray .bxst-title, div.bxst-gray div.bxst-check-cont label{color: #7A7A7A!important;}
	/* For editor */
div.bxst-gray div.bxst-content div.bxlhe-frame{background: #F5F5F5!important;}
div.bxst-gray .lhe-stat-toolbar-cont { border-color: #F5F5F5 !important } 
div.bxst-gray div.bxst-content table.bxlhe-frame-table td.bxlhe-editor-buttons, div.bxst-gray div.bxst-lhe-cont td.bxlhe-editor-cell {background: #F5F5F5 !important;}
div.bxst-gray div.bxst-content td.bxlhe-editor-cell {border-top: 1px solid #F5F5F5!important;}
div.bxst-gray div.bxst-content .lhe-button{border:1px solid #F5F5F5;}

/* LHE editor*/
div.bxst-lhe-cont{position: absolute!important;top: -1000px;left: -1000px;}
div.bx-sticker div.bxst-content div.bxst-lhe-cont{position: static!important;}

/* Content area */
div.bxst-content-area{padding: 5px 5px 5px 21px !important; position:relative;top:0px;}

div.bxst-content-area, div.bxst-content-area *{font-size: 12px!important; font-family:Verdana!important;}
div.bxst-content-area .bxst-title{font-size: 11px!important; font-family:Verdana!important; margin:0 0 0 -7px !important;line-height:18px!important;}

div.bx-sticker-overlay{position: absolute; border:1px solid #d1d1d1; background: #d1d1d1; display: none;}
div.bx-sticker-op-0{filter: alpha(opacity=25); opacity: 0.25; display: block!important;}
div.bx-sticker-op-1{filter: alpha(opacity=50); opacity: 0.50; display: block!important;}
div.bx-sticker-op-2{filter: alpha(opacity=75); opacity: 0.75; display: block!important;}
div.bx-sticker-op-3{display: block!important;}
div.bxst-blink-red{position: absolute; border:1px solid #ff8000; background: #ff8000; display: none;}
#bx-panel .bxst-close-notify-link{text-decoration: underline!important; color: #3F93C7!important; cursor: pointer!important;}


/* Collapsed sticker*/
div.bx-sticker div.bxst-header div.bxst-col-title-cont{float: left;margin:1px 2px 0 2px; height: 16px; display: none; overflow: hidden;line-height:15px!important; padding: 0!important;}
div.bxst-collapsed div.bxst-content, div.bxst-collapsed div.bxst-footer{display: none;}
div.bxst-collapsed div.bxst-collapse img{background-position: -15px -75px!important;}
div.bxst-collapsed div.bxst-type-c span{display: none!important;} /* small type indicator*/
div.bxst-collapsed div.bxst-type-c{width: 6px!important; padding: 0!important;} /* small type indicator*/

div.bxst-collapsed div.bxst-check-cont{margin: 0 1px!important;}
div.bxst-collapsed div.bxst-check-cont label{display: none!important;} /* hide checkbox label*/

div.bxst-collapsed div.bxst-type-cont{margin: 3px 2px 0 3px!important;} /* hide checkbox*/
div.bxst-collapsed div.bxst-col-title-cont{display: block!important;} /* show collapsed title*/
div.bxst-collapsed div.bxst-col-title-cont .bxst-title{font-size: 12px!important; font-family:Verdana!important; display: inline!important;} /* show collapsed title*/

div.bxst-marker-overlay{height:100%; width:100%; left: 0; top: 0; z-index: 790; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2; cursor: url(/bitrix/images/fileman/crosshair.cur), crosshair!important;}

div.bxst-cursor-hint{left: 500px; top: 200px; z-index: 792; position: absolute; display: none; padding: 4px 5px!important; margin: 0!important;font-size:11px!important; font-family: Tahoma, Arial, Verdana, Sans-Serif!important; color:black!important; background-color: #ffffce!important; border:1px solid #858585!important; overflow: visible; line-height:normal; font-weight:normal; letter-spacing:normal !important; font-variant:normal !important; font-style:normal !important; text-indent:0 !important; word-spacing:normal !important; text-align:left !important;}


div.bxst-sticker-marker{position: absolute; filter: alpha(opacity=40); opacity: 0.4; border-width: 1px; border-style: solid; display: none;}
div.bxst-cur-marker{position: absolute; filter: alpha(opacity=70); opacity: 0.7; display: none; border-width: 1px; border-style: solid;}
div.bxst-marker-over{filter: alpha(opacity=40); opacity: 0.4; border-width: 2px; border-style: solid; display: block !important;}

.bxst-sicked{border: 2px solid #ff8000!important;}
div.bx-sticker .bxst-sicked{border-width: 0!important;}

/* Color picker */
div.bxst-col-sel{position: absolute; /* top: 500px; left: 500px; */ width: 43px; background: #c0c0c0; height: 64px; display: block;}
div.bxst-col-sel span.bxst-col-pic {display: block; width: 18px; height: 18px; padding: 0!important; margin: 1px 0 0 1px!important; float: left; cursor: pointer!important;}

div.bxst-col-sel span.bxst-yellow{background: #FFFCB3!important;border: 1px solid #E5E2A1!important;}
div.bxst-col-sel span.bxst-green {background: #DBFCCD!important;border: 1px solid #C5E2B8!important;}
div.bxst-col-sel span.bxst-blue {background: #DCE7F7!important;border: 1px solid #C6CFDE!important;}
div.bxst-col-sel span.bxst-red {background: #FCDFDF!important;border: 1px solid #E2C8C8!important;}
div.bxst-col-sel span.bxst-purple {background: #F6DAF8!important;border: 1px solid #DDC4DF!important;}
div.bxst-col-sel span.bxst-gray {background: #F5F5F5!important;border: 1px solid #DCDCDC!important;}

div.bxst-trans-overlay{height:100%; width:100%; left: 0; top: 0; position: absolute; -moz-user-select: none !important; display: none; background-color:#FFFFFF; filter: gray() alpha(opacity=01); -moz-opacity: 0.01; opacity: 0.01;}


/* STICKER LIST STYLES*/
div.bxst-list{}
div.bxst-list table{border-collapse: collapse!important;}
div.bxst-list table td{padding: 0!important;}
div.bxst-list div.bxst-list-filter{margin: 0 0 35px 0!important;}
div.bxst-list div.bxst-list-filter table.bxst-list-filter-tbl{border-collapse: collapse!important;}
div.bxst-list div.bxst-list-filter table td {background: transparent!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td{background: transparent!important; border-width: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-titles td div {margin: 5px 0 4px 6px!important; padding: 0!important;}
div.bxst-list div.bxst-list-filter table tr.bxst-list-filter-controls td{padding: 3px 5px 0 0!important;}
div.bxst-list div.bxstl-fil-cont-c{margin: 4px 5px; border-width: 0 1px 0 0!important; border-style: solid; border-color:#E5E5E5;}
div.bxst-list div.bxstl-fil-cont{margin: 8px 5px 0 5px;}

div.bxst-list  div.bxst-list-filter-hr{height: 1px; background: #E5E5E5!important; margin:0 5px 0 0; padding: 0!important; position: relative; top: 24px; line-height: 1px!important; overflow: hidden!important;}
div.bxst-list  img.bxst-list-filter-hr{height: 1px; background: #f00!important; margin:0 5px 0 0; position: relative; top: 24px; width: 200px;}

/* Buttons in filter section */
div.bxstl-but{margin: 3px 1px!important; padding: 0!important;  cursor: pointer!important;}
div.bxstl-but div.bxstl-but-l, div.bxstl-but div.bxstl-but-r{margin: 0!important; padding: 0!important; width: 3px; height: 18px!important; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-but div.bxstl-but-l{float: left; background-position: -20px -142px;}
div.bxstl-but div.bxstl-but-r{float: right; background-position: -26px -142px;}

div.bxstl-but div.bxstl-but-c{margin: 0 3px; padding: 0 3px!important; float: left; background: transparent; height: 18px!important;}
div.bxstl-but div.bxstl-but-c span{line-height: 16px!important; font-size: 13px!important; font-family:Verdana !important; color:#000!important; cursor: pointer!important; text-decoration: underline;}

/* Checked buttons */
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-l, div.bxstl-but-checked div.bxstl-but-r{display: block!important;}
div.bxstl-but-checked div.bxstl-but-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important;}
div.bxstl-but-checked div.bxstl-but-c span{text-decoration:none!important;}

/* filter color */
div.bxst-list div.bxst-list-color-cont{width: 145px; height: 24px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick{width: 18px; height: 18px; cursor: pointer!important; float: left; margin:6px 2px 2px!important; padding: 0!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{width: 3px; height: 18px; display: none; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-l{float: left; background-position: -10px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-r{float: right; background-position: -15px -142px;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c{height: 18px; background: transparent; float: left; margin: 0 3px; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick div.bxstl-col-pic-c div{height: 10px; width: 10px; margin: 3px 0 0 0; padding: 0!important; overflow: hidden!important; line-height: 1px!important;}

div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-l, div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-r{display: block!important;}
div.bxst-list div.bxst-list-color-cont div.bxstl-color-pick-ch div.bxstl-col-pic-c{background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -186px repeat-x!important; margin: 0!important;}



/* Stickers table */
div.bxst-list-items{overflow: auto; width: 100%;}
div.bxst-list-items table{border-collapse: collapse!important; width: 100%; table-layout: fixed;}
div.bxst-list-items table td{padding: 0!important;}
div.bxst-list-items table tr.bxst-list-header td{background: #E5E5E5!important; vertical-align: top!important;}
div.bxst-list-items table tr.bxst-list-header td div.bxstl-h-div{margin:7px 10px 7px 10px!important; font-family: Verdana; font-size: 11px; float: left; white-space: nowrap!important;}
div.bxst-list-items table tr.bxst-list-item td {padding: 4px 10px 4px 10px !important; font-family: Verdana; font-size: 12px;}
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a, div.bxst-list-items table tr.bxst-list-item td nobr{ display: block; color: #000!important; text-decoration: none; -o-text-overflow: ellipsis; text-overflow: ellipsis; -moz-binding: url('/bitrix/js/fileman/text-overflow.xml#ellipsis'); overflow:hidden; white-space: nowrap; }
div.bxst-list-items table tr.bxst-list-item td.bxst-list-it-link a.bxst-list-it-path{color: #666666!important;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td, div.bxst-list  div.bxst-list-items table tr.bxst-list-item-closed td *, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td nobr, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td a.bxst-list-it-path, div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{color: #B0B0B0!important;}
div.bxst-list-items table tr.bxst-list-header td.bxst-id-cell div{text-align:center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell {text-align: center;}
div.bxst-list-items table tr.bxst-list-item td.bxst-id-cell a{color: #3F93C7;}
div.bxst-list div.bxst-list-items table tr.bxst-list-item-closed td.bxst-id-cell a{text-decoration: line-through!important;}

div.bxst-list-items table tr.bxst-list-item td{background: transparent!important; border-width: 0 0 1px 0!important; border-style: solid!important; border-color:#E5E5E5!important; padding: 5px 3px 3px 10px;}

div.bxst-list-items table tr.bxst-list-item div.bxstl-color-ind{width: 18px!important; height: 18px!important; margin: 5px 4px;}
div.bxst-list div.bxst-list-action{float: right; margin: 15px 15px 0 0;}

/* Completed icon*/
tr.bxst-list-item div.bxstl-compl-icon{width: 12px; height: 10px; background-position: -10px -209px; visibility: hidden; float: right; margin:-20px -8px 0 0;}
tr.bxst-list-item td.bxstl-completed div.bxstl-compl-icon{visibility: visible!important;}
div.bxst-list-items tr.bxst-list-item-closed td.bxst-id-cell {text-decoration: line-through!important;}

/* NAVIgation section*/
div.bxst-list div.bxst-list-navi{float: left; margin: 15px 0 0 2px;}
div.bxstl-navi-prev-next-cnt a{font-size: 14px!important; font-family: Verdana!important; margin: 0 5px 0 3px!important; color: #3F93C7!important;}
div.bxstl-navi-pages-cnt{margin: 5px 0 0 0!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur, div.bxstl-navi-pages-cnt a.bxstl-navi-item{display: block; float: left; font-size: 14px!important; font-family: Verdana!important; color: #3F93C7!important; margin: 0 4px!important;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l, div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{width: 3px; height: 18px; background-image: url(/bitrix/images/fileman/stickers_sprite.png)!important;}

div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur {width: 20px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-l{float: left; background-position: -20px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-r{float: right; background-position: -26px -142px;}
div.bxstl-navi-pages-cnt div.bxstl-navi-item-cur div.bxstl-navi-it-c{height: 18px; float: left; background: url(/bitrix/images/fileman/stickers_sprite.png) transparent 0 -167px repeat-x!important; margin: 0!important; padding: 0 2px!important; cursor: default!important; font-weight: bold!important; color: #000!important;}

div.bxstl-no-stickers{margin: 20px 25px; font-family: Verdana; font-size: 14px; color: #666666!important;}
div.bxstl-sep{width: 1px!important; height:18px !important; margin:5px 0 0 0!important;  background-color: #CECECE; float:right;}

div.bxst-marker-res-cont{position: absolute;top:0;left:0;width: 1px; height:1px; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b, div.bxst-marker-res-l, div.bxst-marker-res-r{background: transparent!important; border: 0!important; position: absolute; z-index: 750;}
div.bxst-marker-res-t, div.bxst-marker-res-b{height: 10px!important;}
div.bxst-marker-res-l, div.bxst-marker-res-r{cursor:n-resize !important; width: 10px!important;}

div.bxst-marker-res-t{cursor:n-resize !important;}
div.bxst-marker-res-b{cursor:s-resize !important;}
div.bxst-marker-res-l{cursor:w-resize !important;}
div.bxst-marker-res-r{cursor:e-resize !important;}

div.bxst-marker-res-lt, div.bxst-marker-res-rt, div.bxst-marker-res-lb, div.bxst-marker-res-rb{background: transparent!important; border: 0!important; position: absolute; z-index: 750; width: 10px; height: 10px;}

div.bxst-marker-res-lt{cursor:nw-resize !important;}
div.bxst-marker-res-rt{cursor:ne-resize !important;}
div.bxst-marker-res-lb{cursor:sw-resize !important;}
div.bxst-marker-res-rb{cursor:se-resize !important;}















/* End */
/* /bitrix/templates/.default/components/bitrix/menu/top-menu/style.css */
/* /bitrix/templates/nts/components/bitrix/menu/top-bottom/style.css */
/* /bitrix/templates/.default/components/bitrix/news.list/news-right/style.css */
/* /bitrix/components/bitrix/system.pagenavigation/templates/modern/style.css */
/* /bitrix/templates/nts/template_styles.css */
/* /bitrix/js/fileman/sticker.css */
